:root {
	/* Global */
	--body-bg: #f0f0f0;
	--nav-bg: #48735f;
	--section-primary-bg: #f0f0f0;
	--section-secondary-bg: #4f8c6f;
	--card-bg: #f0f0f0;
	--footer-bg: #48735f;

	/* Text */
	--title-primary-clr: #4c886b;
	--title-secondary-clr: #f0f0f0;
	--txt-primary-clr: #0d0d0d;
	--txt-secondary-clr: #f0f0f0;
	--txt-card: #0d0d0d;
	--txt-button-hover: #4c886b;

	/* Others */
	--card-button-hover: #f0f0f0;
	--card-button-bg: #f0f0f0;
	--switch-button: #fafafa;
	--nav-buttons: rgb(48, 48, 48);
	--card-hover-bg: rgba(0, 0, 0, 0.7);
	--txt-hover-clr: #f0f0f0;
	--shadow-clr: #48735f;
	--link-nav-clr: #f0f0f0;
	--link-clr: #4f8c6f;
}

@font-face {
	font-family: Roboto Regular;
	src: url(/public/font/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto Slab;
	src: url(/public/font/RobotoSlab-VariableFont_wght.ttf);
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Roboto Slab", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	margin: 0;
	background-color: var(--body-bg);
	transition-duration: 0.5s;
}

h1,
h2,
h3 {
	font-family: "Roboto Regular", sans-serif;
}

header h1 {
	display: none;
}

header img {
	width: 100%;
}

/*DARKMODE*/

.darkmode {
	/* Global */
	--body-bg: #1e1e1e;
	--nav-bg: #2a2a2a;
	--section-primary-bg: #1e1e1e;
	--section-secondary-bg: #2a2a2a;
	--card-bg: #383838;
	--footer-bg: #2a2a2a;

	/* Text */
	--title-primary-clr: #63bd8e;
	--title-secondary-clr: #63bd8e;
	--txt-primary-clr: #f5f5f5;
	--txt-secondary-clr: #f5f5f5;
	--txt-card: #f5f5f5;
	--txt-button-hover: #f0f0f0;

	/* Others */
	--card-button-hover: #4c886b;
	--card-button-bg: #383838;
	--switch-button: #ffd700;
	--nav-buttons: #fafafa;
	--shadow-clr: #202020;
	--link-nav-clr: #f5f5f5;
	--link-clr: #7fbf9e;
}

#theme-switch {
	height: 3rem;
	width: 3rem;
	padding: 0;
	border-radius: 50%;
	background-color: var(--nav-buttons);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: fixed;
	top: 80px;
	right: 15px;
	z-index: 20;
}

#theme-switch svg {
	fill: var(--switch-button);
}

#theme-switch svg:last-child {
	display: none;
}

.darkmode #theme-switch svg:first-child {
	display: none;
}

.darkmode #theme-switch svg:last-child {
	display: block;
}

/* BOUTON BURGER */

.boutonBurger {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 25;
}

.span1 {
	position: absolute;
	top: 8px;
	width: 100%;
	height: 4px;
	background-color: var(--nav-buttons);
	transition-duration: 0.5s;
}
.span1Open {
	transform: rotate(-45deg);
	top: 16px;
}
.span2 {
	position: absolute;
	top: 18px;
	width: 100%;
	height: 4px;
	background-color: var(--nav-buttons);
	transition-duration: 0.5s;
}
.span2Open {
	display: none;
}
.span3 {
	position: absolute;
	top: 28px;
	width: 100%;
	height: 4px;
	background-color: var(--nav-buttons);
	transition-duration: 0.5s;
}
.span3Open {
	transform: rotate(45deg);
	top: 16px;
}

/* MENU BURGER */

.menuBurger {
	position: fixed;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	background-color: var(--nav-bg);
	transition-duration: 0.5s;
	z-index: 19;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menuBurgerOpen {
	left: 0;
}

.menuBurger > a {
	color: var(--link-nav-clr);
	margin: 20px 0 20px 0;
	text-decoration: none;
	font-size: 2em;
}

body nav section {
	display: none;
}

/* MAIN STYLE */
main {
	height: auto;
	width: 100%;
}

h2 {
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--title-primary-clr);
}

.description,
.cards-section,
.contact-section {
	padding: 0 2rem 3rem;
	transition-duration: 0.5s;
}

/* STYLE DESCRIPTION SECTION */
.description {
	height: auto;
	min-height: 50vh;
	width: 100%;
	background-color: var(--section-primary-bg);
	color: var(--txt-primary-clr);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 4rem;

	& h2 {
		margin: 0;
	}

	& p {
		max-width: 65ch;
		font-size: 1rem;
		height: 80%;
	}
}

/* STYLE CARDS SECTION*/
.cards-section {
	background-color: var(--section-secondary-bg);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	& h2 {
		color: var(--title-secondary-clr);
	}
}

.reset-button {
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	padding: 1rem 2rem;
	border-radius: 10px;
	background-color: var(--card-button-bg);
	color: var(--txt-primary-clr);
	font-weight: bold;
	box-shadow: 0 0 4px 4px var(--shadow-clr);
}
.reset-button:hover {
	color: var(--txt-button-hover);
	background-color: var(--card-button-hover);
}

.cards-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: auto;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.flip-card-container {
	width: 22rem;
	height: 29rem;
	position: relative;
	perspective: 1000px;
	border-radius: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-front {
	cursor: pointer;
	background-color: var(--card-bg);
	color: var(--txt-primary-clr);
	transform: rotateY(0deg);
	width: 100%;
	height: 100%;
	box-shadow: 0 0 6px 6px var(--shadow-clr);

	& figure {
		width: 100%;
		height: 100%;
		border-radius: inherit;
		margin: 0;

		& img {
			width: 100%;
			height: 100%;
			border-radius: inherit;
			object-fit: cover;
		}

		& figcaption {
			display: none;
			width: 100%;
			height: auto;
			text-align: center;
			text-transform: uppercase;
			border-radius: 0 0 13px 13px;
			padding: 0.5rem;
			position: absolute;
			bottom: 0;
		}
	}
}

.card-front:hover figcaption {
	display: block;
	background-color: var(--card-hover-bg);
	color: var(--txt-hover-clr);
}

.card-back {
	background-color: var(--card-bg);
	transform: rotateY(180deg);
	display: grid;
	grid-template-rows: 10% 50% 15% 10% 15%;
	font-size: 1.2rem;
	box-shadow: 0 0 6px 6px var(--shadow-clr);

	& .card-btn {
		justify-self: end;
		padding: 0.5rem 0.8rem 0 0;

		& button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
			border: none;
			background: transparent;
			font-size: 1.2rem;
			border-radius: 50%;
		}

		& button:hover {
			color: red;
		}
	}

	& .card-content {
		display: grid;
		justify-items: center;

		& h3 {
			margin: 0.9rem;
			color: var(--title-primary-clr);
		}

		& p {
			margin: 0;
			padding: 0.3rem 0.3rem;
			width: 100%;
			font-size: 1rem;
			font-style: italic;
			width: 80%;
			text-align: center;
			color: var(--txt-card);
		}
	}

	& .card-skills {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2rem;
		padding: 2.5rem 0 1.2rem;

		& .skill-list {
			list-style: none;
			display: flex;
			gap: 1.8rem;
			padding: 0;
		}

		& i {
			font-size: 2rem;
		}

		& .fa-html5 {
			color: #fc470a;
		}

		& .fa-css3-alt {
			color: #274ce3;
		}

		& .fa-js {
			color: #e6c72e;
		}

		& .fa-figma {
			color: #9c57f7;
		}

		& .fa-utensils {
			color: red;
		}
	}

	& .card-contact {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		& a {
			font-size: 0.9rem;
			color: var(--txt-card);
			text-decoration: none;
		}

		& a:hover {
			color: var(--link-clr);
		}

		& i {
			font-size: 1.4rem;
			transform: translatey(1px);
			color: var(--link-clr);
		}
	}

	& .card-social-links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.4rem;
		padding: 0.8rem 0 0.8rem;

		& a {
			color: #0d0d0d;
		}

		& i {
			font-size: 2rem;
		}

		& .fa-linkedin {
			color: #0262c2;
		}
	}
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	backface-visibility: hidden;
	transition: transform 0.5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
}

.active-front {
	transform: rotateY(-180deg);
}

.active-back {
	transform: rotateY(0deg);
}

.contact-section {
	height: auto;
	min-height: 30vh;
	width: 100%;
	background-color: var(--section-primary-bg);
	color: var(--txt-primary-clr);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& p {
		max-width: 65ch;

		& a {
			color: var(--link-clr);
			text-decoration: none;
			font-weight: bold;
		}
	}
}

footer {
	height: auto;
	min-height: 25vh;
	padding: 0 2rem;
	background-color: var(--footer-bg);
	color: var(--txt-secondary-clr);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	& a {
		text-decoration: none;
		color: var(--txt-secondary-clr);
	}

	& .credits {
		display: flex;
		flex-direction: column;
	}
}
