:root {
	--bg-nav: #404040;
	--txt-primary-clr: #0d0d0d;
	--txt-secondary-clr: #f0f0f0;
	--bg-card: #4f8c6f;
	--bg-footer: #48735f;
	--bg-darkmode: black;
	--bg-buttondm: rgb(48, 48, 48);
}

@font-face {
	font-family: Roboto Regular;
	src: url(/public/font/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto Slab;
	src: url(/public/font/RobotoSlab-VariableFont_wght.ttf);
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Roboto Slab", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	margin: 0;
}

h1,
h2,
h3 {
	font-family: "Roboto Regular", sans-serif;
}

header h1 {
	display: none;
}

header img {
	width: 100%;
}

/*DARKMODE*/

.darkmode {
	background-color: var(--bg-darkmode);
	/* darkmode colors */
}

#theme-switch {
	height: 3rem;
	width: 3rem;
	padding: 0;
	border-radius: 50%;
	background-color: var(--bg-buttondm); /*a modifer*/
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: fixed;
	top: 80px;
	right: 15px;
}

#theme-switch svg {
	fill: var(--primary-color);
}

#theme-switch svg:last-child {
	display: none;
}

.darkmode #theme-switch svg:first-child {
	display: none;
}

.darkmode #theme-switch svg:last-child {
	display: block;
}

/* BOUTON BURGER */

.boutonBurger {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 25;
}

.span1 {
	position: absolute;
	top: 8px;
	width: 100%;
	height: 4px;
	background-color: #000000;
	transition-duration: 0.5s;
}
.span1Open {
	transform: rotate(-45deg);
	top: 16px;
}
.span2 {
	position: absolute;
	top: 18px;
	width: 100%;
	height: 4px;
	background-color: #000000;
	transition-duration: 0.5s;
}
.span2Open {
	display: none;
}
.span3 {
	position: absolute;
	top: 28px;
	width: 100%;
	height: 4px;
	background-color: #000000;
	transition-duration: 0.5s;
}
.span3Open {
	transform: rotate(45deg);
	top: 16px;
}

/* MENU BURGER */

.menuBurger {
	position: fixed;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-footer);
	transition-duration: 0.5s;
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menuBurgerOpen {
	left: 0;
}

.menuBurger > a {
	color: #fff;
	margin: 20px 0 20px 0;
	text-decoration: none;
	font-size: 2em;
}

body nav section {
	display: none;
}

/* Main Style */
main {
	height: auto;
	width: 100vw;
}

h2 {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--bg-card);
}

.description,
.cards-section,
.contact-section {
	padding: 0 2rem 3rem;
}

/* STYLE DESCRIPTION SECTION */
.description {
	height: auto;
	height: 50vh;
	width: 100vw;
	background-color: var(--txt-secondary-clr);
	color: var(--txt-primary-clr);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	& h2 {
		color: var(--bg-card);
		height: 20%;
	}

	& p {
		max-width: 65ch;
		font-size: 1rem;
		height: 80%;
	}
}

/* STYLE CARDS SECTION*/
.cards-section {
	background-color: var(--bg-card);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& h2 {
		color: var(--txt-secondary-clr);
		padding-bottom: 2rem;
	}
}

.cards-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: auto;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.flip-card-container {
	width: 19rem;
	height: 27rem;
	position: relative;
	perspective: 1000px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-front {
	cursor: pointer;
	background-color: var(--txt-secondary-clr);
	transform: rotateY(0deg);
	width: 100%;
	height: 100%;

	& figure {
		width: 100%;
		height: 100%;
		border-radius: inherit;
		margin: 0;

		& img {
			width: 100%;
			height: 100%;
			border-radius: inherit;
			object-fit: cover;
		}

		& figcaption {
			display: none;
			width: 100%;
			height: auto;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			border-radius: 0 0 20px 20px;
			padding: 0.5rem;
			position: absolute;
			bottom: 0;
		}
	}
}

.card-front:hover figcaption {
	display: block;
}

.card-back {
	background-color: var(--txt-secondary-clr);
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;

	& .card-btn {
		align-self: flex-end;
		padding: 0.5rem 0.8rem 0 0;

		& button {
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
			border: none;
			background: transparent;
			font-size: 1.5rem;
		}
	}

	& .card-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		& h3 {
			margin: 0.9rem;
			color: var(--bg-card);
		}

		& p {
			margin: 0;
			padding: 0.3rem 0.3rem;
			width: 100%;
			font-size: 1rem;
			font-style: italic;
			width: 80%;
		}
	}

	& .skills {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2rem;
		padding: 2.5rem 0 1.2rem;

		& ul {
			list-style: none;
			display: flex;
			gap: 1.8rem;
			padding: 0;
		}

		& i {
			font-size: 2rem;
		}

		& .fa-html5 {
			color: #fc470a;
		}

		& .fa-css3-alt {
			color: #274ce3;
		}

		& .fa-js {
			color: #e6c72e;
		}
	}

	& .contact {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		& p {
			font-size: 1.1rem;
		}

		& i {
			font-size: 1.4rem;
			transform: translatey(1px);
			color: var(--bg-card);
		}
	}

	& .social-links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.4rem;
		padding: 0.8rem 0 0.8rem;

		& a {
			color: #0d0d0d;
		}

		& i {
			font-size: 2rem;
		}

		& .fa-linkedin {
			color: #0262c2;
		}
	}
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	backface-visibility: hidden;
	transition: transform 0.5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
}

.active-front {
	transform: rotateY(-180deg);
}

.active-back {
	transform: rotateY(0deg);
}

footer {
	background-color: #48735f;
	color: white;
	text-align: center;
}
